extends layout.pug

block body
  p.card-heading Releases
  .card-table
  #no-more-tables.table-responsive
    table.table(title="A table within a card")
      thead
        tr
          th Releaser
          th Description
          th.text-right Comments
      tbody
        if posts
          for post in posts
            tr
              td.text-left.releaser(data-title="Releaser")= post.user.username
              td.text-left(data-title="Description")
                a(href="/posts/" + post.slug, title=post.title)= post.title
                = ' / '
                span.dt-rls Released on
                = ' ' + moment(post.created_at).fromNow()
              td.text-right(data-title="Comments")
                a(href="/posts/" + post.slug + "#disqus_thread", title="comment") 0 Comments
