extends layout.pug

block body
  p.card-heading Releases
  .card-table
  #no-more-tables.table-responsive
    table.table(title="A table within a card")
      thead
        tr
          th Releaser
          th Description
          th.text-right Links
      tbody
        if posts
          for post in posts
            tr
              td.text-left.releaser(data-title="Releaser")= post.user.username
              td.text-left(data-title="Description")
                a(href="https://sorairo.fansubs.pw/posts/217", title="Tales of Zestiria the X – 02")= post.title
                = ' / '
                span.dt-rls Released on
                = ' ' + moment(post.created_at).fromNow()
              td.text-right(data-title="Links")
                a(href="http://ddls.ghosted.xyz/?dir=Tales%20of%20Zestiria%20the%20X", title="http://ddls.ghosted.xyz/?dir=Tales%20of%20Zestiria%20the%20X", onclick="strls(300,217)", target="_blank") DDL
                = ' / '
                a(href="http://torrents.ghosted.xyz", title="http://torrents.ghosted.xyz", onclick="strls(300,217)", target="_blank") Torrent
                = ' / '
                a(href="https://sorairo.fansubs.pw/posts/217#disqus_thread", title="comment") 10 Comments
