doctype html
html(lang="en")
  head
    include partials/meta
    title
      if post
        = post.title + ' | ' + site_title
      else if project
        = project.title + ' | ' + site_title
      else if download
        = download.title + ' | ' + site_title
      else if page
        = page.title + ' | ' + site_title
      else
        = site_title
    // css
    include partials/style
    // Custom css
    block customcss
    // favicon
    // ...
  body.page-brand
    include partials/header
    include partials/menu
    include partials/content
    include partials/footer
    if message
      include partials/notif
    // js
    include partials/script
    // Custom js
    block customjs
