doctype html
html(amp lang="en")
  head
    include partials/meta
    title
      if title
        = title + ' | ' + site
      else
        = site
    // css
    include partials/style
    // Custom css
    block customcss
    // favicon
    // ...
    style(amp-boilerplate).
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    noscript
      style(amp-boilerplate).
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
  body.page-brand
    include partials/header
    include partials/menu
    include partials/content
    include partials/footer
    if message
      include partials/notif
    // js
    include partials/script
    // Custom js
    block customjs
