.row
  .col-lg-4.col-lg-push-4.col-sm-6.col-sm-push-3
    section.content-inner
      .card
        .card-main
          .card-header
            .card-inner
              h1.card-heading Login
          .card-inner
            p.text-center
              span.avatar.avatar-inline.avatar-lg
                img(alt="Login", src="/bower_components/daemonite-material/images/users/avatar-001.jpg")
            form.form(action="/auth/login", method="post")
              .form-group.form-group-label
                .row
                  .col-md-10.col-md-push-1
                    label.floating-label(for="ui_login_username") Username
                    input#ui_login_username.form-control(type="text", name="username")
              .form-group.form-group-label
                .row
                  .col-md-10.col-md-push-1
                    label.floating-label(for="ui_login_password") Password
                    input#ui_login_password.form-control(type="password", name="password")
              .form-group
                .row
                  .col-md-10.col-md-push-1
                    button.btn.btn-block.btn-sora.waves-attach.waves-effect(type="submit") Sign In
              .form-group
                .row
                  .col-md-10.col-md-push-1
                    .checkbox.checkbox-adv
                      label(for="ui_login_remember")
                        input#ui_login_remember.access-hide(name="ui_login_remember", type="checkbox")
                        Stay signed in
                        span.checkbox-circle
                        span.checkbox-circle-check
                        span.checkbox-circle-icon.icon done
              input(type="hidden", name="_csrf", value="csrfToken")
      .clearfix
        p.margin-no-top.pull-left
          a.btn.btn-flat.btn-sora.waves-attach(href="javascript:void(0)") Need help?
        p.margin-no-top.pull-right
          a.btn.btn-flat.btn-sora.waves-attach(href="/auth/signup") Create an account
