nav#ui_menu.menu(aria-hidden="true", tabindex="-1")
  .menu-scroll
    .menu-content
      a.menu-logo(href="/")= site_title
      if menu_parents && menu_parents.length
        ul.nav
          for menu in menu_parents
            li
              a.waves-attach(href=menu.url)= menu.menu
