#ui_modal_msg_default.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
  .modal-dialog
    .modal-content
      .modal-heading
        a.modal-close(data-dismiss="modal") ×
        h2.modal-title Notification Box
      .modal-inner
        message
      .modal-footer
        p.text-right
          button.btn.btn-flat.btn-brand.waves-attach.waves-effect(data-dismiss="modal", type="button") Close
