script(src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
script(src="/node_modules/daemonite-material/js/base.min.js")
script(src="/node_modules/daemonite-material/js/project.min.js")
script(src="/js/letterAvatar.js")
script(src="/js/auth.js")
script.
  $(window).load(function() {
  $('#ui_modal_msg_default').modal('show');
  });
